.profile-container {
  min-height: 100vh;
  background-color: var(--dk-dark-bg);
}

.gridstyle {
  display: grid;
  max-width: 2000px;
  /* max-width: fit-content; */
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: baseline;
  justify-items: left;
}

.menu-grid {
  display: grid;
  max-width: fit-content;
  margin: 0;
  gap: 1rem;
  grid-template-columns: repeat((auto-fit, minmax(300px, 1fr)));
}
.colstyle {
  color: var(--dk-gray-100);
  padding: 0.25rem;
  height: auto;
}

.colstyle .ant-typography {
  color: var(--dk-gray-100);
}
