@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --dk-gray-100: #f3f4f6;
  --dk-gray-200: #e5e7eb;
  --dk-gray-300: #d1d5db;
  --dk-gray-400: #9ca3af;
  --dk-gray-500: #6b7280;
  --dk-gray-600: #4b5563;
  --dk-gray-700: #374151;
  --dk-gray-800: #1f2937;
  --dk-gray-900: #111827;
  --dk-dark-bg: #313348;
  /* --dk-dark-bg: #90e0ef; */
  /* --dk-darker-bg: #2a2b3d; */
  --dk-darker-bg: #1e1f3b;
  --navbar-bg-color: #6f6486;
  /* --navbar-bg-color: #89845e; */
  --sidebar-bg-color: #0e0f26;
  /* --sidebar-bg-color: #03045e; */
  --logo-yellow-color: #ffc107;
  --pt-red-100: #ff4d4f;
  --pt-green-100: #f6ffed;
  --pt-green-200: #d9f7be;
  --pt-green-300: #b7eb8f;
  --pt-green-400: #95de64;
  --pt-green-500: #73d13d;
  --pt-green-600: #52c41a;
  --pt-green-700: #389e0d;
  --pt-primary-hover: #56527d;
  --sidebar-width: 19em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  /* font-weight: 400; */
}
