.portfolio-detail-divider-horizontal {
  color: var(--dk-gray-100) !important;
  /* background-color: var(--dk-gray-300); */
}

.ant-divider-horizontal.ant-divider-with-text-left::before,
.ant-divider-horizontal.ant-divider-with-text-left::after {
  border-bottom: 1px solid var(--dk-gray-400);
}

.ant-card-body .portfolio-detail-card {
  /* border-bottom: 0px solid var(--dk-gray-700) !important; */
  padding-left: 0 !important;
}

.portfolio-detail-header-assets {
  font-weight: 600;
  padding-bottom: 1dvh;
  font-size: medium;
  color: var(--dk-gray-400);
  border-bottom: 1px solid var(--dk-gray-700);
}

.portfolio-detail-asset-row {
  color: var(--dk-gray-100);
  font-size: medium;
}

.symbol {
  font-weight: bold;
}

.portfolio-detail-asset-row.display-name {
  color: var(--dk-gray-500);
  font-size: medium;
  font-weight: 400;
  border-bottom: 1px solid var(--dk-gray-700);
}
